body{
    font-family: Arial, sans-serif;
    line-height:1.6;
    margin:0;
    padding:0;
    background-color: #0ee6e6;
    color: #333;
}

header{
    background-color: #35424a;
    color: #ffffff;
    padding: 1rem 0;
    text-align: centre;
}

header h1{
    margin: 0;

}
nav u1{
    list-style: circle;
    padding: 0;
}

nav u1 li{
    display: inline;
    margin: 0 10px;
}
nav u1 li a{
    color: #ffffff;
    text-decoration: none;
}
main{
    padding: 20px;
}
section img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
footer{
    background-color:#35424a;
    color: #ffffff;
    text-align: centre;
    padding:1rem 0;
    position: absolute;
    bottom: 0;
    width: 100;
}

